.page {
  --page-gap: 16px;
  padding: var(--page-gap);
}

.page__title {
  font-size: 32px;
  font-weight: 300;
  margin-bottom: var(--page-gap);
}

.page__linear-progress {
  margin-bottom: var(--page-gap);
}

.page__alert {
  margin-bottom: var(--page-gap);
}
